<div>
    <h2>Edit Task</h2>
    <label>Title: </label>
    <input type="text" [(ngModel)]="task.title"><br>
    <label>Description: </label>
    <textarea [(ngModel)]="task.description"></textarea><br>
    <label>Deadline: </label>
    <input type="text" [(ngModel)]="task.deadline"><br>
    <label>Priority: </label>
    <select [(ngModel)]="task.priority">
      <option value="low">низкий</option>
      <option value="medium">средний</option>
      <option value="high">высокий</option>
    </select><br>
    <label>Status: </label>
    <select [(ngModel)]="task.status">
      <option value="todo">сделать</option>
      <option value="inprogress">в процессе</option>
      <option value="done">сделано</option>
    </select><br>
    <button (click)="onSave()">сохранить</button>
  </div>
  